{{ form_start(form, {'attr': {'id': 'annee_scolaire_form', 'class': 'space-y-6'}}) }}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="form-control">
            {{ form_label(form.libelle, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.libelle, {'attr': {'class': 'input input-bordered w-full'}}) }}
            {{ form_errors(form.libelle) }}
        </div>
        
        <div class="form-control">
            {{ form_label(form.date_debut, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.date_debut, {'attr': {'class': 'input input-bordered w-full'}}) }}
            {{ form_errors(form.date_debut) }}
        </div>
        
        <div class="form-control">
            {{ form_label(form.date_fin, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.date_fin, {'attr': {'class': 'input input-bordered w-full'}}) }}
            {{ form_errors(form.date_fin) }}
        </div>
        
        <div class="form-control">
            {{ form_label(form.active, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.active, {'attr': {'class': 'checkbox'}}) }}
            {{ form_errors(form.active) }}
        </div>
    </div>
{{ form_end(form) }}
