{% extends 'base.html.twig' %}

{% block title %}AnneeScolaire index{% endblock %}

{% block body %}
    <h1>AnneeScolaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annee_scolaire in annee_scolaires %}
            <tr>
                <td>{{ annee_scolaire.id }}</td>
                <td>{{ annee_scolaire.libelle }}</td>
                <td>{{ annee_scolaire.dateDebut ? annee_scolaire.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ annee_scolaire.dateFin ? annee_scolaire.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ annee_scolaire.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_annee_scolaire_show', {'id': annee_scolaire.id}) }}">show</a>
                    <a href="{{ path('app_annee_scolaire_edit', {'id': annee_scolaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annee_scolaire_new') }}">Create new</a>
{% endblock %}
