{% extends 'base.html.twig' %}

{% block title %}TarifScolaire index{% endblock %}

{% block body %}
    <h1>TarifScolaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant_ecolage</th>
                <th>Montant_inscription</th>
                <th>Autres_frais</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif_scolaire in tarif_scolaires %}
            <tr>
                <td>{{ tarif_scolaire.id }}</td>
                <td>{{ tarif_scolaire.montantEcolage }}</td>
                <td>{{ tarif_scolaire.montantInscription }}</td>
                <td>{{ tarif_scolaire.autresFrais }}</td>
                <td>{{ tarif_scolaire.description }}</td>
                <td>
                    <a href="{{ path('app_tarif_scolaire_show', {'id': tarif_scolaire.id}) }}">show</a>
                    <a href="{{ path('app_tarif_scolaire_edit', {'id': tarif_scolaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tarif_scolaire_new') }}">Create new</a>
{% endblock %}
