<div class="quixnav">
	<div class="quixnav-scroll">
		<ul class="metismenu" id="menu">
			<li class="nav-label first">Main Menu</li>
			<li>
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon icon-single-04"></i>
					<span class="nav-text">Etudiant</span>
				</a>
				<ul aria-expanded="false">
					<li>
						<a href="{{path('app_etudiant_index')}}">
							liste Etudiant</a>
					</li>
					<li>
						<a href="{{path('app_inscription_index')}}">Inscription</a>
					</li>
				</ul>
			</li>
			<li class="nav-label">Classe</li>
			<li>
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon icon-app-store"></i>
					<span class="nav-text">Classe</span>
				</a>
				<ul aria-expanded="false">
					<li>
						<a href="{{path('app_classe_index')}}">app_classe_index</a>
					</li>

					<li>
						<a href="{{path('app_annee_scolaire_index')}}">app_annee_scolaire_index</a>
					</li>
					<li>
						<a href="{{path('app_niveau_index')}}">app_niveau_index</a>
					</li>
					<li>
						<a href="{{path('app_tarif_scolaire_index')}}">app_tarif_scolaire_index</a>
					</li>

				</ul>
			</li>

		</ul>
	</div>


</div>
